body{
    margin:0;
    text-align: center;
    padding:0;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

nav{
    background-color: #333;
    border:1px solid #333;
    color: rgb(231, 231, 231);
    display: block;
    margin:0;
    overflow: hidden;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li{
    margin: 0;
    display: inline-block;
    list-style: none;
    transition: all 0.22s;
}

nav> ul> li> a{
    display: block;
    color: #aaa;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
}

nav li:hover{
    background-color: #777;
}

